*{
    margin:0;
    padding:0;
    box-sizing: content-box;

}

.cabecera{
    width: 100%;
    background-color: rgba(0, 128, 0, 0.283);
    color: white;
    padding: 20px;
    text-align: center;

}
h1, h2{
    font-family:Arial, Helvetica, sans-serif ;

}

.principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    align-content:space-around;
    column-gap: 50px;
   
       
}
.tituloMain{
    
    width: 100%;
    background-color: black;
    color:whitesmoke;
    text-align: center;

}
button{
    
    border: 1px solid black;
    size: 20px;
    padding: 50px;
    
}

.buttons{
    width: 100%;
    margin: 50px;
    padding: 20px;
    color: white;
    text-align: center;
    justify-content: space-around;
}


